body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
   font-size: 50px;
}
h2 {
    font-size: 40px;
}
.orange-color{
    color:orange;
}
.flexiable-container{
    display: flex;
    margin-bottom:80px;
}
.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.half-width{
    width: 50%;
    padding-left: 5%;
}
.half-width img{
    width: 90%;
}
.link-button{
    text-decoration: none;
    color: white;
    font-weight: 700;
    background-image: linear-gradient(tomato, orange);
    padding: 10px 40px;
    border-radius: 5px;
}
.drean-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.drean-big p {
    padding-right: 100px;
}
.experience-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
}
.experience-item{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 10px 15px 5px;
    box-shadow: 10px 10px 40px gray;
}
.left-experience-item{
    border-left: 7px solid;
    border-image: linear-gradient(orange, tomato);
    border-image-slice: 1;
}
.right-experience-item{
    border-left: 7px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
    
}
footer{
    margin-top: 20px;
}
footer p{
    text-align: center;
}
.border-right-radius{
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}
